:root {
  --dark: #333333;
  --blue: #3c628b;
  --light: #758399;
}

body {
  font-family: sans-serif;
  background-color: var(--light);
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: black;
}

nav a {
  float: left;
  /* display: block; */
  text-align: center;
  padding: 1em;
  color: white;
  text-decoration: none;
}

nav a:hover:not(.currentpage) {
  background-color: var(--dark);
}

nav a.currentpage {
  background-color: var(--blue);
}

main {
  margin: 1em 1em;
}